@{
    Layout = "layouts/base.cshtml";
}

<script type="text/javascript">
    function formatTime(date) {
        var hour = date.getHours();
        var min = date.getMinutes();
        var add = "";

        if (min <= 9) {
            min = "0" + min;
        }
        if (hour > 12) {
            hour = hour - 12;
            add = " PM";
        } else {
            add = " AM";
        }
        if (hour == 12) {
            add = " PM";
        }
        if (hour == 00) {
            hour = "12";
        }

        return hour + ":" + min + add;
    }

    function formatShift(date) {
        return $.datepicker.formatDate("m/d/yy", date) + " " + formatTime(date);
    }

    $(function () {
        $("#shift").hide();
        $("#calendar").fullCalendar({
            events: function (start, end, callback) {
                var events = [];

                var shift = {
                    date: start,
                    time: "9am-2pm"
                }; // get from service

                while (start < end) {
                    events.push({
                        title: shift.time,
                        start: shift.date.toString(),
                        url: "view-shift.htm?d=" + (shift.date.getMonth() + 1) + "-" + shift.date.getDate() + "-" + (shift.date.getYear() + 1900) + "&s=" + shift.time
                    });

                    start.setDate(start.getDate() + 1);
                }
                callback(events);
            },
            height: 600,
            theme: true
        });
    });
</script>
<div id="calendar" style="width: 80%; margin: 2em auto"></div>

@section Title {
    <title>Shift Calendar</title>
}