@{
    Layout = "layouts/base.cshtml";
}

<script type="text/javascript">
    function formatTime(date) {
        var hour = date.getHours();
        var min = date.getMinutes();
        var add = "";

        if (min <= 9) {
            min = "0" + min;
        }
        if (hour > 12) {
            hour = hour - 12;
            add = " PM";
        } else {
            add = " AM";
        }
        if (hour == 12) {
            add = " PM";
        }
        if (hour == 00) {
            hour = "12";
        }

        return hour + ":" + min + add;
    }

    function formatShift(date) {
        return $.datepicker.formatDate("m/d/yy", date) + " " + formatTime(date);
    }

    $(function () {
        $("#shift").hide();
        $("#calendar").fullCalendar({
            events: function (start, end, callback) {
                var events = [];

                while (start < end) {
					var scheduledShifts = [];
					CodeProse.Shifter.Data.get('/scheduled-shifts/' + start.toNumericString() +'/', function(data) {
						scheduledShifts = data;
					});                    

                    for (var shiftIndex = 0; shiftIndex < scheduledShifts.length; shiftIndex++) {
                        var shift = scheduledShifts[shiftIndex];
                        var shiftTitle = shift.StartHour.toString() + '-' + shift.EndHour.toString();

						events.push({
							title: shiftTitle,
							start: start.toString(),
							url: "view-shift.htm?d=" + (start.getMonth() + 1) + "-" + start.getDate() + "-" + (start.getYear() + 1900) + "&s=" + shiftTitle
						});                        
                    }

                    start.setDate(start.getDate() + 1);
                }
                callback(events);
            },
            height: 600,
            theme: true
        });
    });
</script>
<div id="calendar" style="width: 80%; margin: 2em auto"></div>

@section Title {
    <title>Shift Calendar</title>
}