@{
    Layout = "layouts/base.cshtml";
}

<h1>@Model.Introduction</h1>
<ul>
    @foreach (var wireframe in Model.WireframePages)
    {
        <li><a href="@wireframe">@wireframe</a></li>
    }
</ul>