<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <link rel="stylesheet" href="~/content/base.css" />
        <title>Welcome to Shifter!</title>
    </head>
    <body>
        <form action="login" method="POST">
            <div class="stacked">
                <label for="Username">Username</label>
                <input type="text" name="Username" />
                <label for="Password">Password</label>
                <input type="password" name="Password" />
                <input type="submit" value="Login" />
            </div>
        </form>
    </body>
</html>
