@{
    var checkedAttribute = String.Empty;
    if (Model.Checked)
    {
        checkedAttribute = "checked=\"checked\"";
    }
}

<div>
  <label for="@Model.Name">@Model.Name</label>
	<input type="checkbox" @checkedAttribute id="@Model.Name" />
</div>