<div class="number-picker" data-minimum="@Model.MinValue" data-maximum="@Model.MaxValue">
  <input type="text" readonly="readonly" />
  <input type="button" value="+" />
	<input type="button" value="-" />
</div>