<div>
    <label>@Model</label>
    <input type="text" class="hours" />
    <input type="button" value="+" class="increment" />
    <input type="button" value="-" class="decrement" />
    <input type="text" class="minutes" />
    <input type="button" value="+" class="increment" />
    <input type="button" value="-" class="decrement" />
    <select class="am-pm">
        <option>AM</option>
        <option>PM</option>
    </select>      
</div>