@using CodeProse.Shifter.partials.controls
<div class="time-selector">
    <label>@Model</label>
    @Html.Partial("partials/controls/number-picker", new NumberPickerModel(1, 12))
    @Html.Partial("partials/controls/number-picker", new NumberPickerModel(0, 59))
    <select>
        <option>AM</option>
        <option>PM</option>
    </select>      
</div>