<div>
    <ul id="news-feed">
        <li>Raul wants to give up his Feb 15 9am-12pm shift</li>
        <li>Ryan wants to trade for his Feb 12 2pm-5pm shift</li>
        <li>Sam picked up the Feb 14 9am-12pm shift from Raul (is this necessary?)</li>
    </ul>
</div>