<h2 class="ui-widget-header">
    News Feed</h2>
<div class="ui-widget-content">
    <ul id="news-feed">
        <li>Raul wants to give up his <a href="wireframes/view-shift?d=2-15-2012&s=9am-12pm">Feb 15 9am-12pm shift</a></li>
        <li>Ryan wants to trade for his <a href="wireframes/view-shift?d=2-12-2012&s=2pm-5pm">Feb 12 2pm-5pm shift</a></li>
        <li>Sam picked up the Feb 14 9am-12pm shift from Raul (is this necessary?)</li>
    </ul>
</div>
