<div id="topnav" class="ui-widget-header">
    <a href="default">Home</a> <a href="view-calendar">View</a> <a href="assign-shifts">
        Manage</a>
    <div id="user">
        @Model.UserName</div>
</div>
