body
{
    margin: 0;
    font-size: 1.2em;
    font-family: Tahoma;
}
h1
{
    padding: .2em;
    margin: 0;
}
#calendar .fc-event
{
    cursor: pointer;
}
#user
{
    float: right;
}
#topnav
{
    padding: 0.7em
}
#news-feed li {
    margin: 10px 0px;
}
#products
{
    float: left;
    width: 250px;
    margin-right: 2em;
}
.cart
{
    margin: 0px 10px;
    border: solid 1px black;
    border-radius: 10px;
    -moz-border-radius: 10px;
}
.cart-float
{
    width: 250px;
    float: left;
}
.cart h1
{
    border: none;
    border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
}
.cart div
{
    border: none;
}
/* style the list to maximize the droppable hitarea */
/*.cart ol
{
    margin: 0;
    padding: 1em 0 1em 3em;
}*/
.cart ul, #catalog ul
{
    padding-left: 0px;
}
.cart li, #catalog li
{
    cursor: pointer;
    padding: 4px 12px;
    list-style-type: none;
    border: solid 1px black;
    margin: 4px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    width: 180px;
    background-color: #FFF;
}
li.user {
    background-color: #CCC;
}
.stacked > * {
    display: block;
}

.ui-icon32-close 
{
    background: url(themeroller-icon-set-vector-32px.png) 32px 0 !important;
    width: 32px;
    height: 32px;
}